
/* Makes the  page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
/*  Map  */

      #map {
        height: 100%;
        width:100%;
      }

/*  Location list  */

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 210px;
        overflow-y: scroll;
      }
      li {
        background-color: #f1f1f1;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      li:nth-child(odd) {
        background-color: #fcfcfc;
      }
