html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*sets the width and moves the nav off screen*/
nav {
    width: 210px;
    position: absolute;
    -webkit-transform: translate(-210px, 0);
    transform: translate(-210px, 0);
    transition: transform 0.3s ease;
    z-index: 5;

}

/*moves the nav on screen*/
nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 5;

}

/*filter*/
.filter {
    display: flex;
}

input {
    width: 210px;
    margin: 10px;
}

.fa {
    color: #000000;
    margin: 10px;

}

/*  Location list  */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 210px;
    overflow-y: scroll;
}

li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li:nth-child(odd) {
    background-color: #fcfcfc;
}

/*main*/
.main {
    position: relative;
    overflow: hidden;
    height: 50px;
    color: #000000;
    width: 210px;
    margin: 10px;
    z-index: 4;
}

.main button {
    width: 210px;
    margin-top: 10px;
}

.main a {
    color: #000000;
    text-decoration: none;
}

/*  Map  */
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 70px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
}